:root {
  --color-black-first: #000;
  --color-black-second: #3A4042;
  --color-black-third: #828282;
  --color-first: #BF612A;
  --color-second: #02735E;
  --color-third: #FFFFFF;
  --color-error: #BA1F33;
  --color-success: #62C370;
  --color-warning: #CEB02A;
  --color-fourth: #4C5B84;
  --color-fifth: #63371E;
}


/* Header ---------------------------> */
header {
  display: flex;
  justify-content: space-between;
  background: var(--color-second);
  border-bottom: 10px solid var(--color-black-first);
  padding: 10px 20px;
}

nav {
  text-align: right;
}

/* Buttons and Links ---------------------------> */
a{
  display: inline-flex;
  align-items: center;
  color: var(--color-third);
  font-size: 20px;
  font-family: "Fira Code", sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}

header a::before {
  content: "";
  background: var(--color-first);
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

.buttons {
 display: inline-block;
 background: var(--color-first);
 padding: 18px 20px;
 box-shadow: 5px 5px 2px var(--color-black-first);
 height: 60px;
 transition: transform 150ms linear;
}

.buttons:hover {
  font-weight: 700;
  opacity: 100%;
  transform: scale(1.04);
}

section .buttons {
  opacity: 82%;
  margin-right: 100px;
}

/* Titles ---------------------------> */

h1 {
  font-family: Roboto Mono, sans-serif;
  font-weight: 300;
  font-size: 72px;
  color: var(--color-first);
  text-shadow: 4px 4px 2px var(--color-black-first);
}

.main-title {
  font-family: Roboto Mono, sans-serif;
  font-weight: normal;
  font-size: 36px;
  color: var(--color-third);
  text-shadow: 4px 4px 2px var(--color-black-first);  
}

.main-title.-second {
  font-size: 72px;
  font-family: Roboto Mono, sans-serif;
  text-shadow: none;
  text-align: center;
}

.section .main-title {
  margin-bottom: 70px;
}

/* Sections ---------------------------> */

.banner {
  background: url("../assets/photo.svg") no-repeat;
  background-size: cover;
  height: 800px;
  border-bottom: 10px solid var(--color-black-first);

  padding: 570px 72px 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boxName {
  background: var(--color-black-second);
  box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.8);
  opacity: 90%;

  text-align: center;
  padding: 20px 40px;
}

.section {
  background: var(--color-fifth);
  border-bottom: 10px solid var(--color-second);
  padding: 50px 0 100px 0;
}

.section.-second {
  background: var(--color-black-first);
  border-bottom: 10px solid var(--color-first);
}

/* Skills ----------------------------- */

.skills-tec {
  display: flex;
  align-items: center;
  font-family: Roboto Mono, sans-serif;
  font-size: 36px;
  color: var(--color-third);
}

.wrapper-skills {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

.wrapper-skills .skills-tec {
  width: 430px;
  margin-bottom: 40px;
}

.wrapper-skills .skills-tec:nth-child(odd) {
  margin-right: 100px;
}

.wrapper-skills .progress-bar {
  width: 320px;
}

.skill-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill-icon {
  margin-right: 25px;
  width: 90px;
  border-radius: 50%;
}

.skill-title {
  margin-bottom: 10px;
}

.progress-bar {
  border: 5px solid #000;
  height: 40px;
}

.progress-bar::-webkit-progress-bar {
  background: #fff;
}

.progress-bar::-webkit-progress-value {
  background: var(--color-second);
}

.wrapper-projects {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 140px;
}

.wrapper-projects .project {
  background: var(--color-second);
  width: 280px;
  height: 280px;
  padding: 50px;
  box-shadow: 10px 10px 2px var(--color-third);
}

.project.-second {
  background: var(--color-fourth);
  padding: 20px;
}

.project.-third {
  background: #F25A6F;
}

.section.-third {
  background: #01534D;
  border-bottom: 10px solid var(--color-black-first);
  font-family: Fira Code, sans-serif;
  font-size: 36px;
  color: var(--color-first);
}

.section.-third p {
  color: #CCC;
  font-size: 30px;
  font-weight: 100;
  margin: 80px 130px 0 130px;
  text-align: justify;
  line-height: 1.5;
}

.section.-third a {
  color: #CCC;
  font-size: 30px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.main-carousel {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.main-carousel::after {
  content: '';
  position: absolute;
  left: 40px;
  top: 48px;
  display: block;
  height: 5px;
  width: calc(100% - 100px);
  background-color: #000;
}

.main-carousel::before {
  content: '';
  position: absolute;
  left: auto;
  top: 48px;
  display: block;
  width: 99%;
  border: 2.5px dashed #000;
}

.node-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.node-card .logo {
  background: #4C5B84;
}

.node-card .logo.-inside {
  background: #592E84;
}

.node-card .logo.-semEmprego {
  background: #F25A6F;
}

.node-card::before {
  content: '';
  position: absolute;
  height: 0px;
  width: 40px;
  border: 2.5px dashed #000;
  transform: rotate(90deg);
  bottom: 140px; 
}

.node-card .title {
  margin-bottom: 50px;
}

.node-card .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 4px solid #000;
}

.node-card img {
  width: 80px;
  padding: 7px;
}

.section.-fourth {
  background: var(--color-black-second);
  border-bottom: none;
}

.form-contact {
  display: flex;
  flex-direction: column;
  padding: 0 40px 40px 40px;
  font-family: Fira Code, sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 100;
  margin: 40px;
}

.form-contact input {
  height: 45px;
  border: 3px solid #222;
  margin-bottom: 20px;
}

.form-contact input::placeholder {
  font-size: 16px;
}

.form-contact textarea {
  border: 3px solid #222;
}

.form-contact textarea::placeholder {
  font-size: 18px;
}

.buttons.-submit {
  color: var(--color-third);
  font-size: 25px;
  font-family: "Fira Code", sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--color-black-first);
  padding: 25px;
}

footer img {
  width: 35px;
  border-radius: 50%;

  transition: transform 200ms linear;
}


footer img:hover {
  transform: scale(1.2);
}